* {
    box-sizing: border-box;
}

html {
    font-size: 2rem;
    font-family: monospace;
}

.header-section {
    padding: 2rem;
    background-color: black;
    background-image: url('300.jpg');
    color: white;
}

h1 {
    font-size: 120%;
    width: 100px;
}

main {
    color: #000;
    color: rgba(0, 0, 0, 5);
    font-weight: bolder;
}

.test-div {
    width: 200px;
}

#test-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 12px;
}

#test-span {
    width: 200px;
    color: red
}

body>* {
    border: 3px solid black;
}