* {
    box-sizing: border-box;
}

html {
    font-size: 2rem;
}

.header-section {
    padding: 2rem;
    background-color: black;
    background-image: url('300.jpg');
    color: white;
}

#header-h1 {
    font-family: monospace;
    font-size: 120%;
}

main {
    color: #000;
    color: rgba(0, 0, 0, 5);
}