main {
    max-width: 35ch;
}

@media screen and (min-width: 300px) {
    html {
        font-size: 20px;
    }
}

@media screen and (min-width: 500px) {
    header {
        margin-top: 2rem;
    }
}

@media screen and (min-width: 300px) {
    aside {
        position: fixed;
        right: 0;
        top: 0;
        background-color: salmon;
        padding: .5em;
    }
}

@media (min-width: 768px) {
    html {
        position: fixed;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 20px;
    }
}