body {
    background-color: white;
    font-family: monospace;
}

.content {
    display: block;
}

@media screen and (min-width: 992px) {
    .content {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        background-color: rgb(91, 87, 145);
    }
}