    * {
        box-sizing: border-box;
    }
    
    body {
        height: 846px;
        width: 391px;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border: 1px solid black;
        max-width: 600px;
        width: 100%;
        margin: auto;
    }
    
    .header-bg {
        display: inline-block;
        position: relative;
        width: 391px;
        height: 95px;
        background-color: hsl(267, 77%, 56%);
        clip-path: polygon(50% 99%, 100% 78%, 100% 0, 0 0, 0 78%);
    }
    
    .header-fg {
        position: absolute;
        top: 8px;
        width: 391px;
        height: 90px;
        clip-path: polygon(50% 99%, 100% 77%, 100% 0, 0 0, 0 77%);
        background-color: hsl(268, 75%, 44%);
    }
    
    h1 {
        color: white;
        font-size: 16px;
        text-align: center;
        padding: 1px;
        position: fixed;
        margin-left: 80px;
        margin-top: 32px;
    }
    
    main {
        display: flex-start;
    }
    
    h2 {
        margin-left: 40px;
        font-size: 18px;
        color: #6A1CC3;
    }
    
    h3 {
        font-size: 17px;
        align-self: center;
        padding: 1px;
        color: rgb(88, 88, 88);
        height: 18px;
        margin-left: 40px;
    }
    
    h4 {
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-start;
    }
    
    p {
        font-size: 10px;
        text-align: center;
        align-self: center;
    }
    
    a {
        margin-top: 0px;
    }
    
    .navbutton {
        float: left;
        margin: auto;
        width: 25px;
        height: 25px;
        z-index: -1;
        background-color: #6A1CC3;
        color: white
    }
    
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 1200, 'GRAD' 0, 'opsz' 48;
        margin-top: 28px;
        margin-left: 40px;
        width: 24px;
        height: 32px;
        justify-content: center;
    }
    
    #searchinput {
        display: flex;
        position: absolute;
        background-color: #E5E5E5;
        background-image: url("magnifying-glass-2-16.png");
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 10px;
        margin-left: 40px;
        width: 326px;
        height: 38px;
        border: 2px solid hsl(267, 77%, 56%);
    }
    
    .container {
        display: ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-content: flex-start;
        align-items: flex-start;
        border: 2px solid hsl(268, 75%, 44%);
        box-shadow: 3px 3px 3px #6A1CC3;
        width: 325px;
        height: 68.19px;
        margin-left: 40px;
    }
    
    .container:nth-child(1) {
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
    }
    
    .container:nth-child(2) {
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
    }
    
    .container:nth-child(3) {
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
    }
    
    .container:nth-child(4) {
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
    }
    
    .container:nth-child(5) {
        flex: 0 1 auto;
        align-self: auto;
        margin-top: 10px;
    }
    
    .avatar {
        width: 39px;
        height: 39px;
        margin-left: 10px;
        margin-top: 10px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        background-color: hsl(267, 77%, 56%);
        border-radius: 2px;
    }
    
    .nameplate {
        padding-left: 80px;
        margin-top: -65px;
        align-content: flex-start;
    }
    
    #full-time {
        margin-top: 100px;
    }