    * {
        box-sizing: border-box;
    }
    
    body {
        height: 846px;
        width: 391px;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        max-width: 600px;
    }
    
    .header-bg {
        display: inline-block;
        position: relative;
        width: 391px;
        height: 95px;
        background-color: hsl(267, 77%, 56%);
        box-sizing: border-box;
        clip-path: polygon(50% 99%, 100% 78%, 100% 0, 0 0, 0 78%);
    }
    
    .header-fg {
        position: absolute;
        top: 8px;
        width: 391px;
        height: 90px;
        clip-path: polygon(50% 99%, 100% 77%, 100% 0, 0 0, 0 77%);
        background-color: hsl(268, 75%, 44%);
    }
    
    h1 {
        color: white;
        font-size: 15px;
        text-align: center;
        padding: 1px;
        position: fixed;
        float: right;
        margin-left: 80px;
        margin-top: 32px;
    }
    
    h2 {
        margin-left: 40px;
        margin-top: -30px;
        font-size: 18px;
        color: #6A1CC3;
    }
    
    h3 {
        font-size: 17px;
        text-align: center;
        align-self: center;
        padding: 1px;
        color: rgb(88, 88, 88);
        height: 15px;
        margin-top: 90px;
    }
    
    h4 {
        font-size: 15px;
        margin-left: 20px;
        margin-bottom: 15px;
        justify-content: center;
        align-self: flex-start;
    }
    
    p {
        font-size: 10px;
        text-align: center;
        align-self: center;
    }
    
    a {}
    
    .navbutton {
        float: left;
        margin: auto;
        width: 25px;
        height: 25px;
        z-index: -1;
        background-color: #6A1CC3;
        color: white
    }
    
    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 1200, 'GRAD' 0, 'opsz' 48;
        margin-top: 28px;
        margin-left: 40px;
        width: 24px;
        height: 32px;
        justify-content: center;
    }
    
    main {
        box-sizing: border-box;
    }
    
    div {
        padding: 1px;
        margin-bottom: 20px;
        width: 300px;
        height: 80px;
    }
    
    select {
        position: flex;
        _align-self: left;
    }
    
    .search {
        display: flex;
        flex-wrap: nowrap;
    }
    
    .searchfield {
        position: ;
        color: #6A1CC3;
        height: 50px;
        margin-top: 20px;
    }
    
    #searchtitle {
        position: flex;
        color: rgb(88, 88, 88);
        position: absolute;
        margin-top: 0px;
    }
    
    #searchinput {
        display: flex;
        position: absolute;
        background-color: #E5E5E5;
        background-image: url("magnifying-glass-2-16.png");
        background-repeat: no-repeat;
        background-position: right;
        padding-left: 10px;
        margin-left: 40px;
        width: 328px;
        height: 36px;
        border: 2px solid hsl(267, 77%, 56%);
    }
    
    .students {
        margin-top: 20px;
        margin-bottom: 2px;
        height: 35px
    }
    
    .container {
        row-gap: 2px;
        height: 68.19px;
        margin-left: 40px;
        padding-left: -20px;
        padding-bottom: 5px;
        justify-content: center;
        align-self: center;
        border: 2px solid hsl(268, 75%, 44%);
        box-shadow: 3px 3px 3px #6A1CC3;
    }
    
    .avatar {
        width: 39px;
        height: 39px;
        padding: 12px;
        margin: 10px;
        background-color: hsl(267, 77%, 56%);
        border-radius: 2px;
    }
    
    .nameplate {
        justify-content: center;
        text-align: left;
        align-self: center;
        padding-left: 0px;
        padding-top: 20px;
        margin-top: 20px;
        margin-left: 10px;
        height: 68.19px;
    }
    
    .classes-option {
        width: 182px;
        height: 45px;
    }
    
    #name {
        justify-content: center;
        align-self: center;
        padding-top: 20px;
        font-size: 16px;
        color: #6A1CC3;
    }
    
    #lorem {
        padding-bottom: 20px;
        _text-align: left;
        text-align: start;
    }