main {
    display: grid;
    grid-template-columns: 1fr max-content min-content;
}

article {
    background-color: lightgreen;
    border: 1px solid blue;
    padding: 5vmin;
}

article:nth-child(3) {
    background-color: aqua;
}