    body {
        box-sizing: border-box;
        max-width: 200px;
    }
    
    header {
        position: sticky;
        top: 0px;
        background-color: lightblue;
        border: 2px solid black;
    }
    
    article {
        border: 2px solid black;
    }
    
    article:nth-child(3) {
        background-color: burlywood;
        position: absolute;
        padding-left: 400px;
    }
    
    aside {
        padding-top: 0px;
        padding-left: 20px;
        border: 2px solid black;
    }