body * {
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
}

main {
    background-color: greenyellow;
    _display: none;
    _visibility: hidden;
}

html {
    direction: ltr;
}

article:nth-child(3) {
    background-color: salmon;
    position: static;
    top: 20px;
    left: 20px;
}