    body {
        box-sizing: border-box;
        max-width: 400px;
        font-size: 16px;
        font-family: monospace;
    }
    
    html {
        font-size: 20px;
    }
    
    header {
        position: sticky;
        width: 200px;
        width: 50vmax;
        background-color: lightblue;
        border: 2px solid black;
    }
    
    article {
        border: 2px solid black;
    }
    
    h2 {
        background-color: yellowgreen;
        max-width: 60ch;
    }