html {
    _direction: rtl;
}

main {
    border: 5px solid black;
    display: flex;
    height: 200px;
    align-items: baseline;
}

div {
    padding: 1rem;
    border: 3px solid blue;
}

din:nth-child(1) {
    margin-top: 50px;
}

div:nth-child(3) {
    padding-top: 30px;
}

.it-1 {
    order: 1;
}

.it-2 {
    order: 0;
}

.it-3 {
    order: -10;
}