* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --surface-color: #fff;
    --text-color: #000;
    --highlight-color: salmon;
}

.button--medium {
    --base-size: 1rem;
    all: unset;
    color: var(--text-color);
    border: calc(.2*var(--base-size)) solid var(--text-color);
}