html {
    _direction: rtl;
}

main {
    border: 5px solid black;
    display: flex;
}

div {
    padding: 1rem;
    border: 3px solid blue;
    width: 100px;
    flex-shrink: 1;
}

div:nth-child(1) {
    flex-shrink: 0;
}

div:nth-child(5) {
    flex-shrink: 10;
}