html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.absolute-units {
    font-size: 48px;
}

.relative-units {
    font-size: 3rem;
}