html {
    font-size: 16px;
}

header {
    font-size: 2rem;
}

h1 {
    font-size: 1em;
}

p {
    font-size: 25%;
}

main {
    background-color: salmon;
    max-width: 60%;
}

article {
    background-color: dodgerblue;
    width: 40%;
    padding: 10%;
    font-size: 200%;
}