*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    width: 50vmin;
    height: 50vmin;
    border: 2vmin solid black;
    background-color: dodgerblue;
    transition: background-color 1s;
}

div:hover {
    background-color: salmon;
    _transition: background-color 1s;
}